<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
		<meta charset="utf-8" />
		<title>景點介紹</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	</head>
	<body>
		<div id="navigation">
			<div id="nav-content">
				<a href="/" class="hyperlink"><div id="headline">台北一日遊</div></a>
				<div id="opt-menu">
					<div id="opt-sche">預定行程</div>
					<div id="opt-sign">登入/註冊</div>
				</div>
			</div>
		</div>
		<hr class="separater"/>
		<div id="section-area">
			<div id="section">
				<div id="picture-current">
					<img id="attr-page-left-button" src="/left_arrow_noBack.png" onclick="pushImageSlide(-1)"/>
					<img id="attr-page-right-button" src="/right_arrow_noBack.png" onclick="pushImageSlide(1)"/>
					<div id="circle-set-area">
						<div id="circle-set"></div>
					</div>
				</div>
				<div id="profile">
					<div id="name"></div>
					<div id="cate-mrt"></div>
					<div id="booking-form">
						<div id="order-headline">訂購導覽行程</div>
						<div id="order-description">以此景點為中心的一日行程，帶您探索城市角落故事</div>
						<div id="date-field"></div>
						<div id="time-field"></div>
						<div id="price-field"></div>
						<div id="booking-field">
							<div id="booking-button">
								<div id="booking-text">開始預約行程</div>
							</div>
							<div id="booking-button-remain"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<hr class="separater"/>
		<div id="footer">
			<div id="footer-content">
				<div id="footer-text">COPYRIGHT © 2021 台北一日遊</div>
			</div>
		</div>
		<script>
			let attractionIdUrl = "../api/attraction/" + window.location.href.match(/\/attraction\/(\d+)/)[1];
			let imageSet = document.getElementsByClassName("picture-slide");
			let circleSet =  document.getElementsByClassName("circle");
			let currentImageIdx = 0;

			// functions
			function initAllData(url){
				fetch(url).then((response)=>{
					return response.json();
				}).then((data)=>{
					createImgSet(data["data"]["images"]);
					createNameAndDescription(data["data"]["name"], data["data"]["category"], data["data"]["mrt"])
				})
			}

			function createImgSet(imgSources) {
				let imgSetIdx;
				let pictureContainer = document.getElementById("picture-current");
				let newImage;
				let newCircle;
				let circleContainer = document.getElementById("circle-set");

				for(imgSetIdx = 0; imgSetIdx < imgSources.length; imgSetIdx++) {
					newImage = document.createElement("img");
					newImage.src = imgSources[imgSetIdx];
					newImage.className = "picture-slide";
					pictureContainer.appendChild(newImage);

					// current pictures indicate
					newCircle = document.createElement("img");
					newCircle.className = "circle";
					if(imgSetIdx == currentImageIdx) {
						newCircle.src = "../circle_current.png";
					}
					else {
						newImage.style.display = 'none';
						newCircle.src = "../circle.png";
					}

					(function (index) {
						newCircle.onclick = function () {
							setCurrentImageSlide(index);
						};
					})(imgSetIdx);

					circleContainer.appendChild(newCircle);
				}
			}

			function createNameAndDescription(name, category, mrt) {
				let nameElement = document.getElementById("name");
				let descriptionElement = document.getElementById("cate-mrt");
				nameElement.textContent = name;
				if(mrt != null) {
					descriptionElement.textContent = category + " at " + mrt;
				}
				else {
					descriptionElement.textContent = category;
				}
			}
			
			function pushImageSlide(deltaIdx) {
				let tmpImageIdx = currentImageIdx + deltaIdx;
				if(tmpImageIdx >= imageSet.length) {
					tmpImageIdx = 0;
				}
				else if(tmpImageIdx < 0 ) {
					tmpImageIdx = imageSet.length - 1;
				}
				setCurrentImageSlide(tmpImageIdx);
			}

			function setCurrentImageSlide(imageIdx) {
				if(imageIdx != currentImageIdx) {
					imageSet[currentImageIdx].style.display = 'none';
					circleSet[currentImageIdx].src = "../circle.png";
					currentImageIdx = imageIdx;
					imageSet[currentImageIdx].style.display = 'block';
					circleSet[currentImageIdx].src = "../circle_current.png";
				}
			}

			// init
			initAllData(attractionIdUrl);
		</script>
	</body>
</html>