{% extends "common.html" %}
{% block title %}預定行程{% endblock %}

{% block mainbody %}
<hr class="separator"/>
<div id="section-area">
	<div class="booking-section-area">
		<div class="book-headline">
			<span class="greeting">您好，</span><span class="greeting" id="book-name"></span><span class="greeting">，待預訂的行程如下：</span>
		</div>
		<div class="sub-content none-booked-info-part">目前沒有任何待預訂的行程</div>
		<div class="booking-section booked-info-part">
			<div class="booking-picture">
				<img class="booking-image"></img>
			</div>
			<div class="booking-infor">
				<div class="booking-content">
						<div class="content-frame"></div>
						<div class="sub-frame">
							<div class="sub-item">日期：</div>
							<div class="sub-content" id="sub-content-date"></div>
						</div>
						<div class="sub-frame">
							<div class="sub-item">時間：</div>
							<div class="sub-content" id="sub-content-time"></div>
						</div>
						<div class="sub-frame">
							<div class="sub-item">費用：</div>
							<div class="sub-content" id="sub-content-price"></div>
						</div>
						<div class="sub-frame">
							<div class="sub-item">地點：</div>
							<div class="sub-content" id="sub-content-address"></div>
						</div>
				</div>
			</div>
			<div class="booking-delete-icon mouseover"></div>
		</div>
	</div>
</div>
<hr id="section-separator" class="separator booked-info-part"/>
<div class="contact-pay-area booked-info-part">
	<div class="contact-pay-form">
		<div class="contact-pay-frame">您的聯絡資訊</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">聯絡姓名：</div>
			</div>
			<div class="field-box">
				<input type="text" id="booking-name" class="booking-input-text" placeholder="輸入姓名"/>
			</div>
		</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">聯絡信箱：</div>
			</div>
			<div class="field-box">
				<input type="text" id="booking-email" class="booking-input-text" placeholder="輸入信箱"/>
			</div>
		</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">手機號碼：</div>
			</div>
			<div class="field-box">
				<input type="text" id="booking-mobile" class="booking-input-text" placeholder="輸入手機"/>
			</div>
		</div>
		<div class="notice-text">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
	</div>
</div>
<hr id="section-separator" class="separator booked-info-part"/>
<div class="contact-pay-area booked-info-part">
	<div class="payment-form">
		<div class="contact-pay-frame">信用卡付款資訊</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">卡片號碼：</div>
			</div>
			<div class="field-box">
				<div id="card-number" class="booking-input-text"></div>
			</div>
		</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">過期時間：</div>
			</div>
			<div class="field-box">
				<div id="exp-date" class="booking-input-text"></div>
			</div>
		</div>
		<div class="contact-pay-field">
			<div class="field-item-area">
				<div class="field-item">驗證密碼：</div>
			</div>
			<div class="field-box">
				<div id="card-verify" class="booking-input-text"></div>
			</div>
		</div>
	</div>
</div>
<hr id="section-separator" class="separator booked-info-part"/>
<div class="pay-area booked-info-part">
	<div class="pay-content">
		<div class="confirm-price"></div>
		<div id="pay-button" class="mouseover">
			<div class="button-text">確認訂購並付款</div>
		</div>
	</div>
</div>
<div id="loading">
	<img id="loading-picture" src="/loading2.gif" />
</div>
{% endblock %}

{% block scripsetting %}
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script src="/JS/booking.js"></script>
<script>initBooking();</script>
{% endblock %}