<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0" />
		<meta charset="utf-8" />
		<title>台北一日遊</title>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
	</head>
	<body>
		<div class="sign-mask"></div>
		<div id="navigation">
			<div id="nav-content">
				<a href="/" class="hyperlink"><div id="headline">台北一日遊</div></a>
				<div id="opt-menu">
					<div id="opt-sche">預定行程</div>
					<div id="opt-sign">登入/註冊</div>
					<div id="opt-sign-out">登出系統</div>
				</div>
			</div>
		</div>
		<div class="sign-area">
			<div class="sign-area-position">
				<div class="sign-decorator"></div>
				<div class="sign-in-main">
					<div class="sign-main-title">登入會員帳號</div>
					<div class="sign-box">
						<input type="text" id="email" class="sign-input-text" placeholder="輸入電子信箱"/>
					</div>
					<div class="sign-box">
						<input type="password" id="password" class="sign-input-text" placeholder="輸入密碼"/>
					</div>
					<div class="sign-btn" id="sign-in-btn" >
						<div class="sign-btn-text">登入帳戶</div>
					</div>
					<div class="sign-message" id="sign-in-message"></div>
					<div class="sign-switch" id="go-sign-up-btn">還沒有帳戶？點此註冊</div>
				</div>
				<div class="sign-up-main">
					<div class="sign-main-title">註冊會員帳號</div>
					<div class="sign-box">
						<input type="text" id="sign-name" class="sign-input-text" placeholder="輸入姓名"/>
					</div>
					<div class="sign-box">
						<input type="text" id="sign-email" class="sign-input-text" placeholder="輸入電子信箱"/>
					</div>
					<div class="sign-box">
						<input type="password" id="sign-password" class="sign-input-text" placeholder="輸入密碼"/>
					</div>
					<div class="sign-btn" id="sign-up-btn" >
						<div class="sign-btn-text">註冊新帳戶</div>
					</div>
					<div class="sign-message" id="sign-up-message"></div>
					<div class="sign-switch" id="go-sign-in-btn">已經有帳戶了？點此登入</div>
				</div>
				<div class="sign-close">
					<div class="close-icon"></div>
				</div>
			</div>
		</div>
		<div id="hero">
			<div id="slogan-area">
				<div id="slogan">
					<div id="slogan-titles">
						<div id="title">輕鬆享受台北一日悠閒</div>
						<div id="subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
					</div>
					<div id="search">
						<div id="search-bar">
							<span id="input">
								<input type="text" id="keyword" placeholder="輸入景點名稱查詢"/>
							</span>
							<span id="search-btn">
								<div id="icon-search"></div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<div id="list-bar">
				<div id="left-container">
					<div id="left-button"></div>
				</div>
				<div id="container">
					<div id="listItems">
						<div id="list-item-all"></div>
					</div>
				</div>
				<div id="right-container">
					<div id="right-button"></div>
				</div>
			</div>
			<div id="attractions">
				<div id="attractions-group"></div>
			</div>
		</div>
		<div id="main-end"></div>
		<div id="footer">
			<div id="footer-content">
				<div id="footer-text">COPYRIGHT © 2021 台北一日遊</div>
			</div>
		</div>
		<script src="/JS/log.js"></script>
		<script src="/JS/index.js"></script>
	</body>
</html>