{% extends "common.html" %}
{% block title %}會員中心{% endblock %}

{% block mainbody %}
<hr class="separator"/>
<div class="member-area member-info-part">
    <div class="member-data">
        <div class="head-title">會員資料</div>
		<div class="member-order-info">
			<div class="member-item">
				<div class="form-headline">姓名：</div>
				<div id="member-name" class="form-description"></div>
			</div>
			<div class="member-item">
				<div class="form-headline">email：</div>
				<div id="member-email" class="form-description"></div>
			</div>
			<div class="member-item">
				<div class="form-headline">大頭照：</div>
				<div id="member-image"></div>
			</div>
		</div>
    </div>
    <hr id="section-separator" class="separator"/>
    <div class="order-data">
		<div class="history-order-headline">
        	<div class="head-title">歷史訂單</div>
			<div class="card-place">
				<div id="expand-all-order" class="card mouseover"><div>全部展開 + </div></div>
			</div>
		</div>
		<div id="none-order-content" class="member-order-info"></div>
    </div>
</div>
<div id="loading">
	<img id="loading-picture" src="/loading2.gif" />
</div>
{% endblock %}

{% block scripsetting %}
<script src="/JS/member.js"></script>
<script>initMember()</script>
{% endblock %}