{% extends "common.html" %}
{% block title %}成功訂購{% endblock %}

{% block mainbody %}
<hr class="separator"/>
<div id="section-area">
	<div id="thankyou-section-area" class="booking-section-area">
		<div class="greeting">行程預定成功，您的訂單編號如下</div>
		<div id="loading">
			<img id="loading-picture" src="/loading2.gif" />
		</div>
		<div id="order-number" class="greeting"></div>
		<div class="sub-content">請記住此編號！</div>
	</div>
</div>
<hr id="section-separator" class="separator booked-info-part"/>
{% endblock %}

{% block scripsetting %}
<script src="/JS/thankyou.js"></script>
<script>initThankyou();</script>
{% endblock %}